<table border=1>

<tr>
<td>Date</td>
<td>Quality</td>
<td>Binged?</td>
<td>Suicidal Ideation?</td>
</tr>
<% @entries.each do |entry| %>
<tr>
<td><%= entry.created_at %></td>
<td class="<%= entry.quality%>"><%= entry.quality == 1 ? "Up" : "Down" %></td>
<td class="<%= entry.binged %>"><%= entry.binged %></td>
<td class="<%= entry.suicidal %>"><%= entry.suicidal%></td>
</tr>
<% end %>

<script>$('.-1').css("background-color", "red")</script>